.form {
  background-color: #e5e5f7;
  opacity: 1;
  background: linear-gradient(135deg, #f6254055 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #f62540 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #f6254055 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #f62540 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  border: none;
}

.form button {
  background-color: #fff707f6;
  cursor: pointer;
  border: none;
}
