.boundingBox {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

#inputImage {
  width: auto;
  height: auto;
  max-width: 25rem;
  max-height: 25rem;
}
